.navbar {
  margin: 0;
  padding: 0;
  color: black;
  padding: 0 5px;
}

.btnlang {
  cursor: pointer;
  color: grey;
  border: none;
  background: transparent;
}

.btnlang:hover {
  color: #444343;
}

.btnlang:focus {
  outline: 0;
}

.langdrop {
  border: none;
  box-shadow: -1px 3px 2px #E7E7E7, 1px 0px 2px #E7E7E7;
  transition: all 1s ease;
}

.langdrop a:hover {
  color: #5A3EEB;
  transition: all 0.3s ease;
}

.langdrop a:active {
  background: grey;
  color: white;
}

.lgflag {
  width: 0.9em;
  height: auto;
}

.collaxbar {
  display: none;
}
.headertitle{
  font-size: 50px;
}
.wrappersearch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30rem;
  background-image: url('../assets/img/7010052-beautiful-sunset-landscape.jpg');
  -webkit-background-size: cover;
  background-size: cover;
}

.searchbar {
  text-align: center;
  padding: 1em 5em;
  background-color: transparent;
  border: none;
  font-size: 30px;
  border-bottom: 2px solid white;
  color: white;
}

.searchbar:focu {
  border-bottom: 3px solid white;
}

@media screen and (max-width: 600px) {
  .wrappersearch {
    padding: 1em;
    display: block;
    height: auto;
  }

  .searchbar {
    width: 100%;
    text-align: center;
    padding: 1em 1em;
    margin-bottom: 10px;
  }

  .btn {
    width: 100%;
  }
}
.searchbar:focus {
  outline: none;
}

.link {
  color: #747373;
  border-radius: 5px;
}

.link:hover {
  color: black;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-dropped a {
  margin-bottom: 2px;
  border-radius: 5px;
  display: block;
  transition: all 1s ease;
}
.dropdown:hover .dropdown-dropped {
  display: block;
}

@media screen and (min-width: 800px){

    .dropdown-dropped {
    display: none;
    border-top: 2px solid #4331CA;
    background: white;
    padding: 5px;
    position: absolute;
    min-width: 100vh;
    height: auto;
    z-index: 1;
    transition: all 1s ease;
  }
}

.wrapperflex{
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 800px){   
  .dropdown-dropped {
    display: none;
    height: auto;
    z-index: 1;
    background: #000;
    border-radius: 5px;
  }

.dropdown:hover .dropdown-dropped,.dropdown:active .dropdown-dropped {
  display: block;
}
  .pic-side{
    display: none;
  }
}

.img-nav{
  width: 20em;
}


body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

/* The hero image */

.l-img {

    /* The image used */
    background-image: url("../assets/img/5521046-art-wallpaper.jpg");
    /* Set a specific height */
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100%;
}
@media screen and (max-width: 600px){
  .l-img{
    padding: 2em;
  }
}

@media screen and (min-height: 800px){
  .l-text{
    font-size: 5em;
  }
  .l-img .btn{
    width: 5em;
    font-size: 30px;
  }
}
/* Place text in the middle of the image */
.l-text {
    font-size: 35px;
    text-align: center;
    color: white;
}

.blockb{
  background: white;
  color: white;
}
.title{
  text-align: center;

}
.l-card{
  margin: 1em 0.2em;
  padding: 1em;
  color: #4F4E4E;
  border-radius: 5px;
  background: white;
  height: 100%;
  text-align: center;
  transition: all 0.5s ease;
}
.l-card:hover{
  transform: translateY(-9px);
  box-shadow: 2px 2px 6px #A6A6A6;
}
.gcard{
  background: #9BB0FE;
  color: white;
}
.l-card img{
  padding: 1em;
}

.c-img{
  width: 100%;
  height: 250px;
  min-height: 200px;
}

.l-footer{
  padding: 50px;
  margin-top: 60px;
  display: block;
  background: #0B2B44;
  color: white;
}

.l-footer a{
  text-decoration: none;
}